
<div>
  <ul class="nav nav-pills">
    <li class="nav-item" >
      <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/" >Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="books" [queryParams]="{prop: 'xxx'}">Books</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLink]="['maps',1143]">Maps</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " routerLinkActive="active" routerLink="warr" tabindex="-1" aria-disabled="true">watwever</a>
    </li>
  </ul>
</div>
<div>
  <router-outlet></router-outlet>
</div>
